<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form-container {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }

        .form-container section {
            text-align: center;
        }

        .form-container label {
            display: block;
            margin-bottom: 5px;
        }

        .form-container input,
        .form-container select {
            width: calc(100% - 16px);
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        .buttons-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .buttons-container button {
            flex: 1;
            margin-left: 5px;
            margin-right: 5px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .buttons-container button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <% if(!isPost){ %>
            <form id="formulario" action="/colegio" method="POST">
                <section>
                    <label for="numdocente">Numero de Docente:</label>
                    <input type="number" name="numDocente" id="numDocente" required>
                    <br>
                    <label for="nombredocente">Nombre del Docente:</label>
                    <input type="text" name="nombre" id="nombre" required>
                    <br>
                    <label for="Domicilio">Domicilio:</label>
                    <input type="text" name="domicilio" id="domicilio" required>
                    <br>
                    <div class="nivel-options">
                        <label for="nivel">Nivel:</label>
                        <select id="nivel" name="nivel" required>
                            <option value="1">Licenciatura o Ingeniería</option>
                            <option value="2">Maestro en Ciencias</option>
                            <option value="3">Doctor</option>
                        </select>
                    </div>
                    <br>
                    <label for="pagoporhora">Pago Hora Base:</label>
                    <input type="number" name="pagoBasePorHora" id="pagoBasePorHora" required>
                    <br>
                    <label for="horasimpartidas">Horas Impartidas:</label>
                    <input type="number" name="horasImpartidas" id="horasImpartidas" required>
                    <br>
                    <div class="input-container">
                      <label for="cantidadHijos">Cantidad de hijos</label>
                      <select id="cantidadHijos" name="cantidadHijos">
                        <option value="0">0 hijos</option>
                        <option value="1">1 o 2 hijos</option>
                        <option value="2">3 a 5 hijos</option>
                        <option value="3">Más de 5 hijos</option>
                      </select>
                    </div>
              
                    <div class="buttons-container">
                        <button id="btnCalcular" class="boton" form="formulario">Calcular</button>
                        <button type="button" id="btnLimpiar" class="boton">
                            Limpiar
                        </button>

                    </div>
                </section>
            </form>
        <% } else { %>
            <section>
                <center>
                    <h1>Detalles del Pago</h1>
                </center>
                <label for="pagoporhorasimpartidas">Pago por Horas Impartidas:</label>
                <input type="number" name="pagoporhorasimpartidas" id="pagoporhorasimpartidas" readonly value="<%= pagoTotal %>">
                <br>
                <label for="pagoporbono">Pago por Bono:</label>
                <input type="number" name="pagoporbono" id="pagoporbono" readonly value="<%= bonoPaternidad %>">
                <br>
                <label for="impuesto">Impuesto:</label>
                <input type="number" name="impuesto" id="impuesto" readonly value="<%= impuesto %>">
                <br>
                <label for="totalapagar">Total a Pagar:</label>
                <input type="number" name="totalapagar" id="totalapagar" readonly value="<%= pagoFinal %>">
            </section>
        <% } %>
    </div>
    

</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var btnLimpiar = document.getElementById("btnLimpiar");

        btnLimpiar.addEventListener("click", function() {
            document.getElementById("numDocente").value = "";
            document.getElementById("nombre").value = "";
            document.getElementById("domicilio").value = "";
            document.getElementById("nivel").value = "";
            document.getElementById("pagoBasePorHora").value = "";
            document.getElementById("horasImpartidas").value = "";
            document.getElementById("cantidadHijos").value = "";
        });
    });
</script>
</html>

