<main style="text-align: center;">
    <h1>Detalle de Pago</h1>
    <div>
        <h2>Pago por Hora impartidas: <%= pagoPorHoraImpartidas %></h2>
        <h2>Pago por Bono: <%= pagoPorBono %></h2>
        <h2>Impuestos: <%= impuestos %></h2>
        <h2>Total a Pagar: <%= totalAPagar %></h2>
    </div>
</main>
